h2 {
	color:#595959;
	bottom-border:1px solid #595959;
	background-color:#B8C4CC;
	text-align:center;
}

h4{
	color:#595959;
	text-align:center;
}

body {
	background-color:#eff4f7;
	font-family:Verdana;
}

p {
	color:#595959;
	font-family:Verdana, sans-serif;
	font-size:1em;
	margin-right:150px;
	margin-left:150px;
}

img.align-center {
	display:block;
	margin:0 auto;
}

iframe.soundcloud {
	display:block;
	margin:0 auto;
}

#social-icons {
	display:block;
	margin:0 auto;
}

#bio-text {
	width:50%;
	margin:0 auto;
}