h2 {
	color:#595959;
	text-align:center;
}

h4{
	color:#595959;
	text-align:center;
}

body {
	background-color:#eff4f7;
	font-family:Titillium Web;
}

p {
	color:#595959;
	font-family:Titillium Web, sans-serif;
	font-size:1em;
}

head {
	font-size:2em;
	color:#595959;
	border:1px;
	border-style:solid;
	border-color:#595959;
}

img {
	margin-right:auto;
	margin-left:auto;
}

iframe {
	margin-left:auto;
	margin-right:auto;
}